.mainbox{
    height: 2000px;
    width: 1500px;
    margin: 0 auto;
}
#space{
    width: 1351px;
    height: 783px;
    margin: 0 auto;
    display: flex;

  
    
}
.item1 img{
    width: 878.15px;
    height: 783px;
   

}
.item2{
    width: 472.5pxpx;
    height: 783px;
    display: flex;
    flex-direction: column;
}
.item3 img{
    width: 472.5px;
    height: 391.5px;
  
}
.item4 img{
    width: 472.5px;
    height: 391.5px;
    position: relative;
    bottom: 5px;
    
}

#space1{
    width: 1351px;
    height: 783px;
    margin: 0 auto;
    display: flex; 
}
.item5 img{
width:675.5px;
height: 783px;
}
.item6 img{
    width:675.5px;
    height: 783px;
    }
#space2{
    width: 1351px;
    height: 783px; 
    display: flex;
    margin: 0 auto;
}
.item7 img{
    width: 1351px;
    height: 783px;
}
.card {

    width: 231.89px;
    Height: 231.89px;
   margin-left: 26.11px;
    text-align: center;
}



.container {
    width: 1351px;
    height: 444px;
    padding: 2px 16px;
    display: flex;
    justify-content: center;
   margin-top: 50px;
   margin-left: 44px;
   margin-right: 55.49px;
}

.card img {
    Width: 181.92px;
    Height: 183.48px;

}

.card p {
    font-size: 15px;
}

.btn {
    background: #227840;
    height: 43px;
    width: 155px;
    border-radius: 4px;
    color: white;
    font-style: normal;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.275px;
}

.content p{
    text-align: left;
    position: relative;
    top: 38.11px;
    
}
main{
margin: 0 auto;
    width: 1351px;
    height: 783px;
    position: relative;
    top: 50px;
    padding-left: 38px;
    padding-right: 38px;
}
main h1 {
    text-align: center;
    font-size: 33px;
}

.box {
   
    display: flex;
    justify-content: center;
  
}

.card1 {
    width: 300px;
    height: 370px;
    margin-right: 25px;
}

.card1 img {
    width: 300px;
    height: 226px;
}

.cont p{
padding-left: 20px;
}

button {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 87px;
    height: 30px;
    font-size: 12px;
    position: relative;
    top: 26px;
    color: grey;

}

.bt {

    height: 43px;
    width: 122px;
    margin: 0 auto;
    position: relative;
    top: 75px;
    background: #227840;
    border: 1.5px solid #227840;
    border-radius: 6px;
}

.bt p {
    font-size: 11px;
    line-height: 19px;
    margin-left: 30px;
    letter-spacing: 0.275px;
    color: #FFFFFF;

}


       

