body {
    font-family: Arial, Helvetica, sans-serif;

}


.container {
    height: 524px;
    width: 1003px;
    margin: 0 auto;


}

.box0 h1 {
    font-size: 33px;
    margin-right: 90px;
}

.box0 {
    width: 231.89px;
    Height: 231.89px;
}

.box0 p {
    color: #6e6a6a;
    font-size: 14px;


}

.box {
    width: 231.89px;
    Height: 231.89px;
    display: flex;
    position: relative;
    right: 80px;
}

.box img {
    Width: 181.92px;
    Height: 183.48px;
    background-color: blue;

}

.box1 {
    margin: 20px;
}

.box1 img {
    margin-left: 60px;

}

.box1 p {
    font-size: 15px;
    position: relative;
    left: 40px;
}

.box2 {
    margin-top: 20px;


}

.box2 img {
    margin-left: 20px;
}

.box2 p {
    font-size: 15px;



}

.box3 {
    margin-top: 20px;


}

.box3 p {
    font-size: 15px;

    margin-left: 0px;
}

.box4 {
    margin-top: 20px;

}

.box4 p {
    font-size: 15px;

    margin-left: 0px;
}

main {


    width: 1351px;
    height: 783px;
    margin: 0 auto;
    background-color: white;
}

h1 {
    text-align: center;
}

.cards {
    display: flex;
    width: 300px;
    height: 370px;

}

.cards img {
    width: 300px;
    height: 226px;
}

.card1 {

    margin-left: 38px;
    margin-right: 25px;
}


p {
    width: 243px;
    height: 38px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

button {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 87px;
    height: 30px;
    font-size: 12px;
    color: grey;
    margin-left: 20px;
    margin-top: 20px;
}

.card2 {


    margin-right: 25px;
}


.card3 {

    margin-right: 25px;
}


.card4 {


    margin-right: 38px;
}



.btn {
    height: 43px;
    width: 122px;
    margin-top: 20px;
    margin-left: 615px;
    background: #227840;
    border: 1.5px solid #227840;
    border-radius: 6px;


}

.btn p {
    font-size: 11px;
    line-height: 19px;
    margin-left: 30px;
    letter-spacing: 0.275px;
    color: #FFFFFF;

}

.btn1 {
    height: 43px;
    width: 155px;
    background: #227840;
    border: 1.5px solid #227840;
    border-radius: 6px;
}

.btn1 p {
    color: white;
    font-style: normal;
   padding-top:5px ;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.275px;
}