body {
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(64, 64, 124);
}

.container {
  height: 200px;
  width: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  background-color: beige;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: rgba(105, 104, 104, 0.116) 0px 7px 20px 0px;
}

.counter p {
  text-align: center;
  font-size: 3rem;
}

.buttons {
  text-align: center;
  margin-top: 2rem;
}

button {
  font-size: 1.5rem;
  padding: 1 rem 1 rem;
  margin: 0.5rem;
  cursor: pointer;
	background-color: rgb(160, 161, 233);
  color: white;
	text-shadow: 2px 2px 2px rgb(48, 47, 47);
	box-shadow: 2px 2px 2px rgb(71, 69, 69);

}

